@inject IUserService userService
@model DepartmentDTOout
@{
    bool userIsAuthorized = userService.IsLoggedIn && userService.User.IsInRole("Admin");
}

<div class="card m-2" style="width: 16rem;">
    <div class="card-body">
        <h5 class="card-title font-weight-bold"><i class="far fa-flag"></i> &nbsp; @Model.Title</h5>

        <h5>Jobs in department:</h5>
        @if (Model.Jobs.Count() == 0)
        {
            <h5>No jobs registered yet...</h5>
        }
        else
        {
            <div class="sep-line"></div>
            @foreach (var job in Model.Jobs)
            {
                <h6>Job Name: "<span class="font-italic font-weight-bold">@job.Title</span>"</h6>
                <h6>Education: @job.MinimumEducation.ToString()</h6>
                @if (job.UserJobsCount == 0)
                {
                    <h6 class="font-italic">No users work this job yet.</h6>
                    if (userIsAuthorized)
                    {
                        <div>
                            <a asp-controller="Home" asp-action="NotImplemented" class="btn btn-warning btn-sm">Edit</a>
                            <a asp-controller="Home" asp-action="NotImplemented" class="btn btn-danger btn-sm">Delete</a>
                        </div>
                    }
                }
                else
                {
                    <h6>People occupied: @job.UserJobsCount</h6>
                }

                <div class="sep-line"></div>
            }
        }

        @if (userIsAuthorized)
        {
            <div>
                <a asp-controller="Home" asp-action="NotImplemented" class="btn btn-warning btn-sm">Edit</a>
            </div>
        }
    </div>
</div>























