<ul class="navbar-nav">
    <!-- Level one dropdown -->
    <li class="nav-item dropdown">
        <a id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle btn btn-primary text-white"><i class="fas fa-user"></i>  User Panel</a>
        <ul aria-labelledby="dropdownMenu1" class="dropdown-menu border-0 shadow">
            <li><a href="#" class="dropdown-item"><i class="fas fa-search text-success pr-2"></i> View Companies </a></li>
            <li><a href="#" class="dropdown-item"><i class="fas fa-search text-success pr-2"></i> View Departments </a></li>
            <li><a href="#" class="dropdown-item"><i class="fas fa-search text-success pr-2"></i> View Jobs </a></li>
            <li class="dropdown-divider"></li> 
            <li><a href="#" class="dropdown-item"><i class="fas fa-search text-success pr-2"></i> My Positions </a></li>             
            <li class="dropdown-submenu">
                <a id="dropdownMenu2" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-item dropdown-toggle">My Positions</a>
                <ul aria-labelledby="dropdownMenu2" class="dropdown-menu border-0 shadow">
                    <li><a href="todo" class="dropdown-item"><i class="fas fa-search text-success pr-2"></i> View All Current Positions</a></li>
                    <li><a href="todo" class="dropdown-item"><i class="fas fa-search text-success pr-2"></i> View Closed Positions</a></li>
                </ul>
            </li>
            <!-- End Level two -->
        </ul>
    </li>
    <!-- End Level one -->
</ul>