<ul class="navbar-nav">
    <li class="nav-item dropdown">
        <a id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle btn btn-primary text-white"><i class="fas fa-user"></i> User Panel</a>
           <ul aria-labelledby="dropdownMenu1" class="dropdown-menu border-0 shadow">
            <li><a asp-controller="Countries" asp-action="Index" class="dropdown-item"><i class="fas fa-search text-success pr-2"></i> View Countries </a></li>
            <li><a asp-controller="Departments" asp-action="Index" class="dropdown-item"><i class="fas fa-search text-success pr-2"></i> View Departments</a></li>
            <li><a asp-controller="Companies" asp-action="Index" class="dropdown-item"><i class="fas fa-search text-success pr-2"></i> View Companies</a></li>
        </ul>
    </li>
</ul>   